// // Settings
// @import "settings/settings.functions";
// @import "settings/settings.bootstrap";
// @import "settings/settings.variables";
// @import "settings/settings.colors";

// // Mixins
// @import "tools/tools.breakpoints";
// @import "tools/tools.grid-framework";
// @import "tools/tools.grid";
// @import "tools/tools.truncate";
// @import "tools/tools.text-emphasis";
// @import "tools/tools.text-hide";
// @import "tools/tools.hover";

// // Generic
// @import "generic/generic.box-sizing";
// @import "generic/generic.normalize";
// @import "generic/generic.reset";
// @import "generic/generic.shared";

// // Elements
// @import "elements/elements.page";
// @import "elements/elements.headings";
// @import "elements/elements.images";
// @import "elements/elements.tables";

// // Objects
// @import "objects/objects.grid";

// // Plugins

// // Utilities
// @import "utilities/all";

// Custom Bootstrap variable overrides go first
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1500px
);

$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: 1140px,
  xl: 1440px
);


// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

.main {
  padding: {
    top: 20px;
    bottom: 20px;
  }
}

